# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.metadata

# Android
.gradle/
local.properties
*.iml
*.ipr
*.iws
.idea/
.cxx/
captures/
*.apk
*.aab

# iOS
.DS_Store
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/App.podspec
ios/Static.framework

# Secrets
.env
secret.properties
